
.card-edit {
    margin: 0 1% 1%;
    width: 80%;
    text-align: left;
    display: inline-block;
}

.card-editable-info {
    padding: 1%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.card-editable-info label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 10px;
}

.card-editable-info input {
    margin: 4px 0 4px 0;
    padding: 2px;
    width: 90%;
    font-size: 1.2em;
}

.controls {
    text-align: right;
    float: right;
}
.controls button {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
}
.controls button:hover {
    background-color: gray;
}