.group-header {
  width: 100%;
  display: table;
}

.group-row {
  display: table-row;
}

.group-title {
  display: table-cell;
  color: #7400B3;
}

.group-controls {
  display: table-cell;
  width: 300px;
  height: 60px;
  padding-top: 20px;
}

a.button {
  height: 50px;
}

