.card-tile {
  font-size: 1.2em;
  margin: 0 1% 1%;
  background-color: greenyellow;
  width: 300px;
  display: inline-block;
  text-align: left;
  cursor: pointer;
}

/*.card-tile .card-editable-info {*/
  /*overflow: hidden;*/
  /*padding: 2%;*/
/*}*/

/*.card-editable-info .card-edit-controls {*/
  /*display: none;*/
  /*margin: -10px 0 0 275px;*/
  /*position: absolute;*/
  /*opacity: .8;*/
/*}*/

/*.card-tile:hover .card-edit-controls {*/
  /*display: block;*/
/*}*/


.card-tile .card-static-info {
  font-size: 0.8em;
  background-color:lightgray;
  padding: 2%;
}

.card-tile .card-front-text {
  width: 100%;
  background-color: yellow;
  display: inline-block;
  font-size: 1.2em;
}
.card-tile .card-back-text {
  width: 100%;
  background-color: lightblue;
  display: inline-block;
  font-size: 1.2em;
}
.card-tile input {
  width: 200px;
  border-color: lightblue;
  margin-left: 20px;
  padding: 5px 15px;
}