.card-tile {
  margin: 0 1% 1%;
  width: 300px;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

.card-tile .card-editable-info {
  overflow: hidden;
  padding: 2%;
}

.card-tile .card-front-text {
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  margin: 2px 0 2px 0;
}

.card-tile .card-back-text {
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  margin: 2px 0 2px 0;
}

.card-tile .grouping {
  margin-bottom: 10px;
}
.card-tile input {
  width: 200px;
  margin-left: 20px;
  padding: 5px 15px;
}