.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.tile-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

}

/* Media Queries */
@media(min-width: 600px) {
    .tile-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 800px) {
    .tile-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1000px) {
    .tile-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 1200px) {
    .tile-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media(min-width: 1400px) {
    .tile-wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
}