
.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
    text-align: center;
    padding: 0;
}

.title {
    font-size: 1.5em;
}

.group-controls {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}

