.logo {
    height: 75px;
    cursor: pointer;
}

nav {
    background-color: rgb(57, 57, 57);
    color: white;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 1em;
    text-align: center;
    height: 75px;
}

a {
    text-decoration: none;
}

a.button:hover {
    cursor: pointer;
}

.icon {
    height: 50px;
}

.icon-border {
    margin: 10px auto;
    border-radius: 10px;
    background-color: #444444;
    width: 90px;
}

.icon-border:hover {
    background-color: #aaaaaa;
}

button {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #444444;
    color: black;
}

button:hover {
    background-color: #aaaaaa;
}

/* Media Queries */
@media(min-width: 700px) {
    nav {
        background-color: rgb(57, 57, 57);
        color: white;
        height: auto;
        position: fixed;
        width: 85px;
        left: 0px;
        top: 0;
        bottom: 0;
        padding-top: 10px;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-auto-rows: 70px;
    }
    main.content {
        margin-left: 90px;
    }
    #rs-widget-container {
        position: fixed;
        display: inline-block;
        bottom: 0;
        left: 5px;
        z-index: 23;
    }
}