.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  cursor: pointer;
}
.App-logo path {
  fill: greenyellow;
}

nav {
  background-color: rgb(57, 57, 57);
  color: white;
  height: auto;
  position: fixed;
  width: 90px;
  left: 0px;
  top: 0;
  bottom: 0;
  padding-top: 10px;
  z-index: 1000;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main.content {
  margin-left: 90px;
}

.icon {
  height: 30px;
}
a.button:hover {
  cursor: pointer;
}
